<header class="site-header">
  <div class="container">
    <h1><a href="{{ "/" | prepend: site.baseurl }}">Steve<span>Robinson</span></a></h1>

    <button type="button" class="sliding-panel-button">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="navbar sliding-panel-content">
      <ul>
        <li><a href="https://github.com/steverob" title="Code">Code</a></li>
        <li><a href="https://medium.com/@steverob" title="Blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="sliding-panel-fade-screen"></div>
